[Desktop Entry]
Name=Toot
Exec=cosmic-ext-toot %F
Terminal=false
Type=Application
StartupNotify=true
Icon=dev.edfloreshz.Toot
Categories=COSMIC;
Keywords=
MimeType=
