[Desktop Entry]
Name=Toot
Exec=cosmic-ext-toot %u
Terminal=false
Type=Application
StartupNotify=true
Icon=dev.edfloreshz.Toot
Categories=COSMIC;
Keywords=toot;mastodon;fediverse;
MimeType=x-scheme-handler/toot;
